.card {
  height: 220px;
  margin: 1em;
}

.card-description {
	overflow: scroll;
	height: 100px;
}

.header-title {
	font-size: 1.2em !important;
}

.header-image {
  background-image: url('https://unsplash.it/100');
  background-size: cover;
}