.details {
	flex: 1;
}

.sessions {
	display: block;
}

.event-banner {
	height: 300px;
	flex-direction: column;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	background-image: url('https://unsplash.it/2000/500');
	background-size: cover;
}

.event-description-container {
	flex-direction: column;
	display: flex;
	justify-content: center;
	align-items: center;
}

.event-description-title {
	text-align: center;
	font-size: 2em;
	color: #000;
}

.event-title {
	text-align: center;
	font-size: 2em;
	color: #fff;
	background-color: #000;
	padding: 0.2em 0.5em;
}